footer{
	display:flex;
	justify-content: space-around;
	margin:0;
	padding:1%;
	color:#fedc3d;
}
footer p{
	margin:0;	
}
.fas{
	z-index:9999;
}
.fab{
	padding-left: 1.5rem;
}
footer a{
	color:#fedc3d;
}