
.wrapper{
	max-width: 1400px;
	width: 92%;
	margin: 0% auto;
}
body{
	font-family: 'Oswald', sans-serif;
	background:#262626;
	font-size: 125%;
}
.eiffel-tower{
	height:100%;
	border: 4px solid white;
}

figcaption{
	position:absolute;
	top: 100%;
	width: 100%;
	transition: all 1s ease-in-out;
}
button{
	border-radius: 10px;
	box-shadow: 2px 2px black;
	color:#fedc3d;
	background-color:black;
	text-transform: uppercase;
	margin:0 auto;
	width: 7rem;
	max-height: 10vh;
}
figure:active figcaption, figure:focus figcaption, figure:hover figcaption {
  top: 0%;
  height: 100%;
 	background:#fffc8b;
 	opacity:0.9;
 
}
figure{
	position:relative;
	width: 100%;
	height: 40vh;
	grid-column:1/2;	
	border-radius: 15px;
	margin:0;
	text-align:center;
	overflow-y:hidden;
}
figcaption{
	position:absolute;
	height: 100%;
	display:flex;
	flex-direction:column;
	justify-content:center

}
figcaption h2{
	font-size: 2.5rem;
	margin-bottom: 0;
}
figure img{
	width: 100%;
  height: 100%;
}

.projects{
	padding: 5% 0;
	display:grid;
	grid-template-columns:1fr;
	grid-auto-rows: 40vh 40vh 40vh 40vh 40vh 40vh;
	grid-gap: 2.5rem;
}

.figure1{	
	grid-row: 1/2;
}
.figure2{
	grid-row: 2/3;
}
.figure3{
	grid-row: 3/4;
}
.figure4{
	grid-row:4/5;
	background: slategray;
}
.figure5{
	grid-row:5/6;
}
.figure6{
	grid-row:6/7;
}

nav a{
	text-decoration:none;
	color:#fedc3d;
}

.triviagame{
	background-color:lightgray;
}
.boxoffice{
	background-color: #204470;
}
.beachhouse{
	background-color:#9cd6c7;
}
.bubblegame{
	background-color:#800080;
}

.about{
		color: white;
		border: 4px solid white;
		border-radius: 15px;

}
.about h2{
	text-align:center;
	font-size:1.5rem;
	text-transform:uppercase;
	margin-bottom:0;
	margin-top: 5%;
}
.about p{
	margin-top:0;
	line-height: 1.6;
	font-size: 1.5rem;
	padding: 5%;
}
.part-title{
	text-align:center;
	color:white;
	font-size: 1.5rem;
	text-transform:uppercase;
}
.description{
	display:none;
	color:#fedc3d;
	text-align:left;
	font-size: 1.5rem;
}
.part-title{
	margin: 3rem auto;
	font-size: 2rem;
	padding: 1rem;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	width: 50%;
	
}
.name{
	text-align: center;
	border-top: 1px solid #fedc3d;
	border-bottom:1px solid #fedc3d;
	color:#fedc3d;
	width: 30%;
	padding:1rem;
	margin:0 auto;
	margin-bottom:5%;
	font-weight: 300;
	display:none;
}
.description p{
	line-height: 1.6;
}
.project-part{
	border: 4px solid #1a1a1a;
	border-radius: 15px;
	margin-top: 2%;
}

@media screen and (min-width: 480px){
	header h1{
		padding-top: 15%;
	}
	figure {
		width: 70%;
		border-radius: 15px;
	}
	.figure{
		margin: 0 auto;
	}
	.wrapper{
		width: 80%;
	}
	.show{
	left: 3.5rem;
	}
}
@media screen and (min-width: 768px){
	.menu{
		flex-direction:row;
		background:#262626;
		left: 1rem;
		justify-content: space-around;
		width: 40%;
		padding: 1%;
		border:2px solid #fedc3d;
		border-radius: 15px;
	}
	header h1{
		padding-top: 13%;
	}
	.projects{
		grid-template-rows: 60vh 60vh 60vh 60vh 60vh 60vh;
	}
	figcaption{
		height: 60vh;
		font-size: 2rem;
		vertical-align:middle;
		padding: 5%;
	}
	.fas{
		display:none;
	}
	
	button{
		width: 10rem;
	}
}
@media screen and (min-width: 800px){
	.wrapper{
		width: 98%
	}
	.one-project{
		background-color: #1a1a1a;
		border-radius: 15px;
		padding:2%;
		margin: 5rem;
	}
	.projects{
		display:block;
		padding:0;
	}
	.full-screenProject{
		display:flex;
	}
	.projects .projet1, .projects .projet3, .projects .projet5{
		flex-direction:row-reverse;
	}
	figure{
		width: 48%;
		display:none;
		height:80%;
		
	}
	.figure{
		margin: auto;
	}
	.figcaption{
		display:none;
	}
	
	.description.more{
		display:block;
		width: 48%;
		padding: 2%;
		/* background-color: #1a1a1a;
		border-radius: 15px; */
	}
	.topForm{
		width: 50%;
	}
	.about{
		border: none;
	}
	.about-me{
		border: 4px solid white;
		border-radius:15px;
	}
	.name{
		display:block;
	}
	.show{
		left: 30%;
	}
	
}
