
.wrapper{
	max-width: 1400px;
	width: 92%;
	margin: 0% auto;
}
body{
	font-family: 'Oswald', sans-serif;
	background:#262626;
	font-size: 125%;
}
.eiffel-tower{
	height:100%;
	border: 4px solid white;
}

figcaption{
	position:absolute;
	top: 100%;
	width: 100%;
	transition: all 1s ease-in-out;
}
button{
	border-radius: 10px;
	box-shadow: 2px 2px black;
	color:#fedc3d;
	background-color:black;
	text-transform: uppercase;
	margin:0 auto;
	width: 7rem;
	max-height: 10vh;
}
figure:active figcaption, figure:focus figcaption, figure:hover figcaption {
  top: 0%;
  height: 100%;
 	background:#fffc8b;
 	opacity:0.9;
 
}
figure{
	position:relative;
	width: 100%;
	grid-column:1/2;	
	border-radius: 15px;
	margin:0;
	text-align:center;
	overflow-y:hidden;
}
figcaption{
	position:absolute;
	display:flex;
	flex-direction:column;
	justify-content:center

}
figcaption h2{
	font-size: 2.5rem;
	margin-bottom: 0;
}
figure img{
	/* border-radius: 15px; */
	grid-row: 1/2;
	width: 100%;
  height: 100%;
}

.projects{
	padding-top: 5%;
	display:grid;
	grid-template-columns:1fr;
	grid-auto-rows: 35vh;
	grid-gap: 2.5vh;
}

.figure1{	
	grid-row: 1/2;
}
.figure2{
	grid-row: 2/3;
}
.figure3{
	grid-row: 3/4;
}
.figure4{
	grid-row:4/5;
	background: slategray;
}

nav a{
	text-decoration:none;
	color:#fedc3d;
}

.triviagame{
	background-color:lightgray;
}
.boxoffice{
	background-color: #204470;
}
.beachhouse{
	background-color:#9cd6c7;
}
.bubblegame{
	background-color:#800080;
}

.about{
		color: white;
		border: 4px solid white;
		border-radius: 15px;

}
.about h2{
	text-align:center;
	font-size:1.5rem;
	text-transform:uppercase;
	margin-bottom:0;
	margin-top: 5%;
}
.about p{
	margin-top:0;
	line-height: 1.6;
	font-size: 1.5rem;
	padding: 5%;
}
@media screen and (min-width: 480px){
	header h1{
		padding-top: 15%;
	}
	figure {
		width: 70%;
		border-radius: 15px;
	}
	.figure{
		margin: 0 auto;
	}
	.wrapper{
		width: 80%;
	}
	.show{
	left: 3.5rem;
	}
}
@media screen and (min-width: 768px){
	.menu{
		flex-direction:row;
		background:#262626;
		left: 1rem;
		justify-content: space-around;
		width: 40%;
		padding: 1%;
		border:2px solid #fedc3d;
		border-radius: 15px;
	}
	header h1{
		padding-top: 13%;
	}
	.projects{
		grid-template-rows: 60vh 60vh 60vh 60vh 60vh 60vh;
	}
	figcaption{
		height: 60vh;
		font-size: 2rem;
		vertical-align:middle;
		padding: 5%;
	}
	.fas{
		display:none;
	}
	
	button{
		width: 10rem;
	}
}
@media screen and (min-width: 800px){
	.projects{
		grid-template-rows: 50vh 50vh 70vh ;
		grid-template-columns: 1fr 1fr;
	}
	figure{
		width: 100%;
	}
	.figure1, .figure3, .figure5{
		grid-column: 2/3;
	}
	.figure2, .figure4, .figure6{
		grid-column: 1/2;
	}

}
