
.fa-bars, .fa-times{
	padding-top: 5%;
	padding-left: 1rem;
	text-align:left;
	display:block;
	font-size: 3rem;

}

header{
	background-image: url('images/triumphal-arch.jpg');
	min-height: 60vh;
	background-size:cover;
	background-position: center;
	color:#fedc3d;
	text-align:center;
	position:relative;
	max-width: 100%;
}
header h1{
	padding-top: 25%;
}
header p{	
	font-size: 1.5rem;
}
.dev{
	text-transform: uppercase;
}
header h1, header p{
	text-shadow: 4px 4px black;
}
.personal-image{ 
	height: 6rem;
	width: 6rem;
	border: 1px solid #fedc3d;
	border-radius: 50%;
	background-image: url('images/olfa.jpg'); 
	margin: 0 auto;
	left: 35%;
	background-size:cover;
	background-position:center;
	
}
.menu{
	display:flex;
	flex-direction:column;
	position:absolute;
	left: -100%;
	transition: all 0.8s ease-in-out;
	background:#262626;
}

.show{
	text-align:center;
	left: 0.5rem;
	padding: 2% 0;
	border-radius: 15px;
	width: 5rem;
}
.logo{
	height: 4rem;
	width: 4rem;
	background: url('./images/OM.png');
	background-size:cover;
	background-position:center;
	margin: 2rem auto;
}




